*{
  margin: 0;
  padding: 0;
  max-width:100%;
}

@import "variables";


header{
  .logo{
    min-height:50px;


    a{
      color: $color-dark;
      font-family: $font-p;
      font-size: 3.5vh;
      text-decoration: none; 
      text-align: center;
    }
  }
}

main{

  .menu{
    background-color:$color-light;
    height: 50px;
    font-family: $font-r;
    font-size: 1.5vh;

    button{border: none;}

    ul{
      background-color: transparent;
      border-radius: 2px;

      li{
        font-family: $font-r;
        font-size: 2vh;
      }
    }
  }
  
  .principal{
    background-image: url(descarga.png);
    display:block;
    text-align:center;
    margin:auto;
    width: 100%;
    height:100%;
    background-repeat: no-repeat;  
    background-size: cover;      
    background-position: center;
    background-attachment: fixed;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

      div{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      height: 300px;
  
    
      h1{
      color: $color-white;
      font-family: $font-p;
      }

      button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        border-top: solid 1px $color-white;
        border-bottom: solid 1px $color-white;
        width: 100px;
        height: 20px;
        
        a{
          color: $color-white;
          text-decoration: none;
          font-family: $font-p;
          font-size: 1.5vh;
        }
      }
    }
  }
  
  .parrafo{
    width: 100%;
    height: 100%;
    background-color: $color-light;
    margin: 10px 0;
    

    h2{
      font-family: $font-p;
      color: $color-black;
      margin-top: 10%;
      text-align: center;
    }

    h5{
      font-family: $font-p;
      color: $color-black;
      font-style: italic;
      margin-top: 15px;
      margin-bottom: 30px;
      text-align: center;
    }


    p{
      font-family: $font-r;
      font-size: small;
      opacity: 0.8;
      color: $color-black;
      font-weight: lighter;
      margin: 0 15%;
      margin-bottom: 10%;
      text-align: center;
      
    }
  }

  .instagram{
    padding: 20px 0;

    .grid{
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-items: center;
      grid-gap:10px;
      margin: 0 15%;
      margin-bottom: 10px;
     
      img{
       width: 100%;
       height: 200px;
       object-fit: cover;
      }

      img:hover{filter: brightness(0.7);}
    }
  }
}

footer{
  background-color: $color-light;
  
  .newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

    form{
      display: flex;
      flex-direction: column;
       
      input{
        padding-right: 100px;
        background-color: transparent;
        text-align: start;
        border: none;
        border-bottom: solid 1px $color-dark;
        color: $color-dark;
        font-family: $font-r;
        font-size: 1.5vh;
        outline: none;
      }

      button{
        background-color: $color-black;
        color: $color-white;
        font-size: 1.5vh;
        font-family: $font-p;
        font-style: italic;
        border: 1px solid $color-black;
        margin-top: 5px;
      }

      button:hover{background-color: $color-dark;}
      
    }

    p{
      font-family: $font-p;
      font-size: 1.5vh;
      font-style: italic;
      padding-top: 10px;
      color: $color-black;
      text-align: center;
    }
  }
  
  .logo{
    padding-top: 40px; 

    a{text-decoration: none;}
  }

  .redes{
    display: flex;
      flex-direction:row;
      justify-content:center;
      align-items: center;

    div{

      a{
        color: $color-dark;
        margin: 5px 0;
    
        i{font-size: 2vh;}

        i:hover{
          color: #333333;
        }
      }
    }
  }
  
   .address{
    padding-top: 30px;

    address{
    color:$color-dark;
    font-family: $font-p;
    text-align: center;
    font-size: 1.5vh;
    opacity: 0.8;
    }
  }
}

#productos{
  display: flex;
  justify-content: center;
  align-items: center;

  .tabla{
    display: flex;
    justify-content: center;
    width: 80%;
    border-collapse:collapse;
    font-size: 1.8vh;
    color:$color-black;
    font-family: $font-r;

    tr{
      margin-bottom: 20px;
      padding: 0 60px;
     
      td{
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
      
        button{
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          width: 150px;
          height: 30px;
          cursor: pointer;
          border:none;
          border-top: solid 1px $color-dark;
          border-bottom: solid 1px $color-dark;
          transition: 1s;
        
          a{
            color: $color-dark;
            text-decoration: none;
            font-family: $font-p;
            font-size: 2.5vh;
          }
        }

        button:hover{
          background-color:$color-dark;
          border-radius: 1px;

          a{color: $color-light;}
        } 

        
      }
    }
  }
}

.politicas{
 
  .politicas__parrafo{
  
    h1{
      font-family: $font-p;
      color: $color-black;
      margin: 20px 0 10px;
      text-align: center;
      text-transform: uppercase;
    }

    h5{
      font-family: $font-p;
      color: $color-black;
      font-style: italic;
      margin: 15px 0 20px;
      text-align: center;
    }

    p{
      font-family: $font-r;
      font-size: small;
      opacity: 0.8;
      color: $color-black;
      font-weight: lighter;
      margin: 0 15%;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  .politicas__lista{
    margin-bottom: 40px;

    div{
      
      h5{
        font-family: $font-p;
        font-size: 2vh;
        color: $color-black;
        margin: 20px;
        text-align: center;
        text-transform: uppercase;
      }

      p{
        font-family: $font-r;
        font-size: small;
        opacity: 0.8;
        color: $color-black;
        font-weight: lighter;
        margin: 0 15%;
        margin-bottom: 20px;
        list-style:none;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width:300px) and (max-width:650px){
  main{
   
   .principal{
     height: 400px;

     div{
       height: 200px;
     }
   }
   .instagram{

    .grid{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;

      .ultima{display:none;}
    }
   }
  }
}

.contacto{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 5%;

  .contacto__parrafo{
    
    h1{
      font-family: $font-p;
      color: $color-black;
      margin: 20px 0 10px;
      text-align: center;
      text-transform: uppercase;
    }

    p{
      font-family: $font-p;
      color: $color-black;
      font-style: italic;
      margin: 15px 0 20px;
      text-align: center;  
    }
  }

  .contacto__formulario{
    margin: 50px 0 10px;

    form{
      display: flex;
      flex-direction: column;
      align-items: center; 
      color:$color-dark;
      text-align: left;
      font-size: 1.7vh;
      font-weight: lighter;
      width: 70%;
    }

    .input{
      background-color: transparent;
      border: none;
      border-bottom: solid 1px $color-dark;
      width:100%;
      height: 20px;
      padding: 0 15px;
      margin: 10px 15px;
      outline: none;
    }

    .button{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-black;
      color: $color-white;
      margin: 10px 0;
      width: 200px;
      height: 25px;
      border: 1px solid $color-black;
      cursor: pointer;
      border-radius: 1px;
    }

    .button:hover{
      background-color:$color-dark;
      border: solid 1px $color-dark;
      color: $color-light;
    }
 

    #gridInput{
      display: grid;
      grid-template-columns: 50fr 50fr;
      margin: 10px 15px;
      grid-column-gap: 20px;

      div{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      label{
        color: $color-dark;
        font-size: 1.7vh;
        font-weight: lighter;
        font-family: $font-r;
      }
    }
  }
}

.googlemaps{
 margin: 50px;

}

div.error{
  margin: 40px;
  padding-top: 70px;
  width:100%;
  text-align:center;

  h1{
   width: 100%;
   font-size: 35vh;
	 font-weight: 900;
	 font-family: sans-serif;
	 background: url(olas.jpg) no-repeat;
	 -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   background-size: 200%;
   animation: movimiento 10s infinite linear alternate;
	 background-size: cover;
	 background-position: center;

   @keyframes movimiento{
    from{background-position: bottom left;}
    to{background-position: top right;}}}

   h2{
    font-size: 4vh;
    color: rgba(7, 7, 7, 0.6);
  }

   button{
    border: none;
    margin: 20px 0;
    background: transparent;
    
    a{
     font-size: 2vh;
     color: rgba(7, 7, 7, 0.6);
     text-decoration: none;}
   }

  button:hover{
   border:none;
   margin: 20px 0;
   background: transparent;

   a{
    font-size: 2vh;
    color: rgba(36, 94, 128, 0.6);
    text-shadow: 2px 2px 5px rgb(157, 178, 216);
    text-decoration: none;}
  }
}

.volver{
  display: flex;
  flex-direction: row;
  margin: 30px 10px;

  a{
    text-decoration: none;
    color: $color-black;
    font-family: $font-r;
    font-size: 2vh;
  }

  a:hover{color: $color-black;}

  p{
    color: rgba(0, 0, 0, 0.61);
    padding-left: 5px;
    font-family: $font-r;
    font-size: 2vh;
  }
}

h5{
  color:$color-black;
  font-family: $font-p;
  padding-top: 20px 0 15px;
  margin-top: 50px;
  font-size: 3vh;
}


.centrar{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}


